<body class="container-fluid">
  <div class="container error-container">
    <h1 class="display-4 fw-bold">¡Error 404!</h1>
    <p class="lead">Página no encontrada</p>
    <img src="../../assets/404.png" alt="Error 404" class="error-image"
      style="filter: drop-shadow(5px 5px 8px rgb(250, 6, 39));" loading="lazy">
    <p class="lead">Lo sentimos, la página que estás buscando no se encuentra.</p>
    <p class="lead">Verifique que no tenga un error de tipeo en la URL</p>
    <a href="/inicio" class="btn btn-primary rounded-2" aria-label="Ir al inicio">Ir a la página de inicio</a>
  </div>
</body>