<app-header></app-header>

<br>

<div class="container title-section">
  <h1 class="title-section__main-heading text-center">QUÉ PIENSAN NUESTROS SAVIOS DE TRABAJAR EN "CHM TECHNOLOGY"</h1>
</div>

<br>

<section class="container-equipo container-fluid p-4 h-100">
  <h1 class="text-center">PLOTTERS</h1>
  <div class="row align-items-center justify-content-center">
    <div class="container-img-about col-md-6 d-flex align-items-center justify-content-center p-4">
      <img src="/assets/equipo-soft.png" alt="Imagen de Acerca de" class="img-fluid"
        style="max-width:50%; filter: drop-shadow(5px 5px 9px rgba(255, 100, 247, 0.863));">
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column align-items-center justify-content-center p-4">
        <p class="text-justify mb-4">En "CHM TECHNOLOGY", nos dedicamos a proporcionar soluciones tecnológicas avanzadas
          que impulsan la eficiencia y el rendimiento. Ofrecemos una amplia gama de productos y servicios diseñados para
          abordar los desafíos contemporáneos y mejorar la competitividad de nuestros clientes.</p>
        <p class="text-justify mb-4">Nuestra misión es implementar tecnología de vanguardia para resolver problemas
          complejos y mejorar los procesos empresariales. Nos comprometemos a brindar soluciones innovadoras y de alta
          calidad que impulsen el éxito de nuestros clientes en la era digital.</p>
        <p class="text-end w-100 fst-italic">- MIGUEL SERVANTES</p>
      </div>
    </div>
  </div>
</section>
<br>
<ng-container *ngFor="let seccion of secciones">
  <section class="container-equipo container-fluid p-4 h-100">
    <h1 class="text-center">{{ seccion.titulo }}</h1>
    <div class="row align-items-center justify-content-center">
      <div class="container-img-about col-md-6 d-flex align-items-center justify-content-center p-4">
        <img [src]="seccion.imagenSrc" [alt]="seccion.imagenAlt" class="img-fluid" [style]="seccion.imagenEstilo"
          loading="lazy">
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-column align-items-center justify-content-center p-4">
          <p class="text-justify mb-4" *ngFor="let parrafo of seccion.contenidoParrafos">{{ parrafo }}</p>
          <p class="text-end w-100 fst-italic">{{ seccion.firmaAutor }}</p>
        </div>
      </div>
    </div>
  </section>
  <br>
</ng-container>
<app-footer></app-footer>
