<app-header></app-header>

<br>
<br>







<!-- pagina-inicio.component.html -->
<div *ngIf="loading; else content">
  Cargando...
</div>
<ng-template #content>
  <!-- Agrega los botones de categoría -->
  <div class="p-d-flex p-jc-center mb-5 p-flex-wrap">
    <p-button *ngFor="let categoria of listadocategoria" 
              label="{{categoria.nombre}}" 
              (onClick)="filtrarPorCategoria(categoria.id)" 
              styleClass="custom-button p-button-text p-button-outlined p-m-2"
    ></p-button>
  </div>
</ng-template>

<div class="d-flex align-items-center justify-content-center flex-wrap w-100 h-100 gap-4" >
    <!-- Lista de Productos -->
    <div *ngFor="let servicios of listadoserviciosFiltrados" class="d-flex" (click)="openModal(servicios)">
      <div class="card shadow rounded-3" style="height: 30rem; width: 22rem; padding: 1rem;">
        <!-- Itera sobre las imágenes y muestra la primera URL -->
        <div style="width: 100%; overflow: hidden; height: 300px; text-align: center; background-color: brown; background-position: center;">
          <img class="w-100 h-100" [src]="servicios.imagenes && servicios.imagenes.length > 0 ? servicios.imagenes[0].publicUrl : ''" alt="Imagen del producto" width="100" height="auto" loading="lazy" style="object-fit: fill">
        </div>
  
        <div class="card-body">
          <h5 class="card-title">{{ servicios.nombre }}</h5>
          <p class="card-text">{{ servicios.descripcion }}</p>
 
          <!-- Usamos [data-bs-target] para establecer dinámicamente el modal específico para cada producto -->
          <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#productosModal' + servicios.id">
            Ver Detalles
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <p-dialog header="{{ selectedServ?.nombre}}" [(visible)]="displayModal" [style]="{ width: '50%' }">
    <div>
      <!-- Contenido del modal según el producto seleccionado -->
      <img [src]="selectedServ?.imagenes?.[0]?.publicUrl || ''" alt="{{ selectedServ?.descripcion }}" style="width: 100%;" class="card-img-top">
      <p>{{ selectedServ?.descripcion }}</p>
      <button (click)="agregarAlCarrito(selectedServ)" onclick="showModal()">Agregar al carrito</button>
      <!-- Puedes agregar más detalles según tus necesidades -->
    </div>
</p-dialog>



<app-footer></app-footer>
