<footer class="footer mt-5 text-light" style="background-color:#00406E;">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-4 mb-3 d-flex flex-column align-items-center justify-content-center">
        <img src="../../../../assets/CHMTECNOLOGY.png" alt="Logo de tu empresa" class="footer__logo img-fluid"
          width="200" height="auto">
        <p class="footer__description mt-3 text-center">Descubre la calidad y tecnología de nuestros productos. ¡Únete a
          la
          revolución CHM!</p>
      </div>
      <div class="items-footer col-md-4 mb-3 d-flex flex-column align-items-center justify-content-center">
        <h4 class="footer__title">Categorías</h4>
        <ul class="list-unstyled">
          <li><a class="nav-link" routerLink="#" routerLinkActive="active">Electrónicos</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active">Servicios</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active">Mantenimientos</a></li>
          <li><a class="nav-link" routerLink="#" routerLinkActive="active">Redes</a></li>
        </ul>
      </div>
      <div class="items-footer items-footer-mod col-md-4 mb-3 d-flex flex-column align-items-center">
        <h4 class="footer__title">Contacto</h4>
        <p class="footer_info">Dirección: <span class="footer_highlight">Marcos Escorza, Quito 170105</span></p>
        <p class="footer_info">Email: <span class="footer_highlight">chmtechnology9@gmail.com</span></p>
        <p class="footer_info">Teléfono: <span class="footer_highlight">0996179149</span></p>
      </div>
    </div>
  </div>
  <div class="footer__copyright text-center mt-4 py-3">
    <p>&copy; {{ anioActual }} CHM TECHNOLOGY. TODOS LOS DERECHOS RESERVADOS.</p>
  </div>
</footer>