<div class="container">
  <h2 class="mt-5 text-center fw-bold">Lista de Categorias</h2>
  <p-table [style]="{width: '75vw'}" class="card table__content shadow-9 m-3 surface-card table-container" #dt
    [value]="listadocategoria" dataKey="id" [rows]="10" id="season-tble" [showCurrentPageReport]="true"
    [paginator]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Datos {first} a {last} de {totalRecords} registros" [rowHover]="true"
    [globalFilterFields]="['id','nombre','descripcion','estado']">
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between align-items-center flex-wrap header-content-table">
        <span class="p-input-icon-left mb-2 md:mb-0 search-input-container">
          <i class="bi bi-search search-icon"></i>
          <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event),'contains')"
            placeholder="Buscar.." />
        </span>
        <div class="container-btn-header">
          <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success btn-agregar"
            data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-producto>
      <tr>
        <th>ID</th>
        <th pSortableColumn="nombre" style="min-width: 10rem; max-width: 10rem;">Nombre<p-sortIcon field="nombre">
          </p-sortIcon>
        </th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
      <ng-container *ngIf="listadocategoria">
        <tr class="tablas">
          <td>{{ categoria.id }}</td>
          <td>{{ categoria.nombre }}</td>
          <td>{{ categoria.descripcion }}</td>
          <td> <mark
              [ngClass]="{'activo': categoria.estado === 'Activo', 'inactivo': categoria.estado === 'Inactivo'}">{{ categoria.estado}}</mark>
          </td>
          <td class="btn_acctions-mod">
            <button pButton pRipple icon="pi pi-trash" class="btn-acctions rounded-3"
              style="background-color:rgb(215, 19, 19);" (click)="eliminarCategoria(categoria.id)"
              aria-label="Eliminar"></button>
            <button pButton pRipple icon="pi pi-pencil" class="btn-acctions rounded-3" style="background-color:#FB8B24;"
              (click)="editCategoria(categoria)" data-bs-toggle="modal" data-bs-target="#exampleModal"
              aria-label="Editar"></button>
          </td>
        </tr>
      </ng-container>
    </ng-template>

    <ng-template pTemplate="summary" class="bg-dark-subtle">
      <div class="p-d-flex p-ai-center p-jc-between">
        <small>Actualmente, hay {{listadocategoria ? listadocategoria.length : 0 }} categorias disponibles</small>
      </div>
    </ng-template>
  </p-table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header p-3 px-5">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">Categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="CategoriaForm.reset(); this.selectCategoria = {};"></button>
      </div>
      <div class="modal-body p-4 px-4">
        <form [formGroup]="CategoriaForm"
          (ngSubmit)="saveCategoria(); CategoriaForm.reset()">
          <div class="user-details py-2">
            <div class="row">

              <div class="col-md-12">
                <div class="input-box d-flex flex-column gap-1">
                  <span class="details p-float-label">
                    <input pInputText type="text" maxlength="50" formControlName="nombre" name="nombre"
                      class="form-control p-inputtext-sm" aria-describedby="nombre del producto" required>
                    <label htmlFor="nombre">Nombre</label>
                  </span>
                  <div class="text-danger"
                    *ngIf="CategoriaForm.get('nombre')?.hasError('required') && CategoriaForm.get('nombre')?.touched">
                    <small>Este campo es <strong>obligatorio</strong></small>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-box d-flex flex-column gap-1">
                  <label class="form-label">Estado</label>
                  <div class="custom-select-wrapper">
                    <select class="custom-select form-select" id="estado" name="estado" placeholder="estado"
                      formControlName="estado" aria-label="Estados de producto">
                      <option value="" disabled selected>Seleccione un Estado</option>
                      <option *ngFor="let option of estados" [value]="option">{{ option }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-box d-flex flex-column gap-1">
                  <span class="details p-float-label">
                    <input pInputText type="text" formControlName="descripcion" name="descripcion"
                      class="form-control p-inputtext-sm" required>
                    <label htmlFor="descripcion">Descripción</label>
                  </span>
                  <div class="text-danger"
                    *ngIf="CategoriaForm.get('descripcion')?.hasError('required') && CategoriaForm.get('descripcion')?.touched">
                    <small>Este campo es <strong>obligatorio</strong></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex gap-3">
              <button type="button" pButton pRipple class="p-button-danger rounded-2" data-bs-dismiss="modal"
                (click)="CategoriaForm.reset(); this.selectCategoria = {};" aria-label="Boton Cancelar">Cerrar</button>
              <button type="button" pButton pRipple type="submit" class="p-button-success rounded-2"
                data-bs-dismiss="modal" [disabled]="CategoriaForm.invalid" aria-label="Boton Guardar">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
