* {
    box-sizing: border-box;
}

.col-lg-6.mb-5.mb-lg-0.position-relative {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
    background-repeat: no-repeat;
}

#radius-shape-1 {
    height    : 13.75rem;
    width     : 13.75rem;
    top       : -3.75rem;
    left      : -8.125rem;
    background: radial-gradient(#44006b, #ad1fff);
    overflow  : hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom       : -3.75rem;
    right        : -6.875rem;
    width        : 18.75rem;
    height       : 18.75rem;
    background   : radial-gradient(#44006b, #ad1fff);
    overflow     : hidden;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.555) !important;
    backdrop-filter : saturate(200%) blur(25px);
    width           : 90%;
}

blockquote {
    display        : flex;
    align-items    : center;
    justify-content: center;
    border-left    : 5px solid #ccc;
    padding        : 0.625rem 1.25rem;
    background     : rgba(24, 24, 24, 0.7);
    border-radius  : 0.3125rem;
    width          : 90%;
}

cite {
    font-style : normal;
    font-size  : 0.9em;
    font-weight: bold;
    color      : #CCC;
}

button>i {
    font-size: 1.5rem;
}

.btn-social {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-social:hover {
    background-color: #007bff;
    color           : #ffffff;
    text-decoration : none;
    transform       : scale(1.1);
}

.form-outline {
    position: relative;
}

.eye-icon {
    position : absolute;
    top      : 74%;
    right    : 10px;
    transform: translateY(-50%);
    cursor   : pointer;
}