<section class="background-radial-gradient overflow-hidden">

  <div class="container px-4 pt-5 pb-1 px-md-5 text-center text-lg-start my-5 container-card">
    <div class="row gx-lg-5 align-items-center justify-content-center mb-5 container-card-content">
      <div class="col-lg-6 mb-5 mb-lg-0 d-flex flex-column align-items-center" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          <img src="../../../../../assets/CHMTECNOLOGY.png" alt="logo" width="300" height="auto"
            style="filter: drop-shadow(5px 5px 4px white)"> <br />
          <span style="color: hsl(218, 81%, 75%); filter: drop-shadow(5px 5px 9px rgba(255, 255, 255, 0.863))">Servicio
            Técnico</span>
        </h1>
        <blockquote class="text-center shadow">
          <p class="opacity-70" style="color: hsl(218, 81%, 85%)">
            " Elevamos la excelencia en servicio técnico. Nuestra dedicación a la innovación y la maestría técnica nos
            distingue como líderes en el campo. Con un compromiso inquebrantable hacia la calidad y la satisfacción del
            cliente, transformamos desafíos técnicos en soluciones brillantes.Tu tecnología, nuestra pasión; tu
            satisfacción, nuestro compromiso. "
            <cite class="font-italic" title="Sitio web oficial de CHM TECHNOLOGY">CHM TECHNOLOGY</cite>
          </p>
        </blockquote>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass rounded-5">
          <div class="card-body px-4 py-5 px-md-5">
            <form (ngSubmit)="login()" #formulario="ngForm">
              <div class="form-outline mb-4">
                <h1 class="text-center fw-bold ls-tight">Iniciar Sesión</h1>
              </div>
              <!-- Email input -->
              <div class="form-outline mb-2">
                <label class="form-label p-text-bold" for="username">Email</label>
                <input pInputText type="email" id="username" [(ngModel)]="username" autocomplete="username" [pattern]="emailPattern"
                  class="form-control ng-invalid ng-dirty" name="username" required title="Ingrese su correo electrónico"/>
                <ng-container *ngTemplateOutlet="mensajeErrorEmail"></ng-container>
              </div>
              <!-- Password input -->
              <div class="mb-4 w-100">
                <label class="form-label p-text-bold w-100" for="password">Contraseña</label>
                <p-password [(ngModel)]="password" name="password" [toggleMask]="true"
                  [promptLabel]="passwordPromptLabel" [weakLabel]="weakLabel" [mediumLabel]="mediumLabel"
                  [strongLabel]="strongLabel" [inputStyle]="{ 'width': '100%'}" [style]="{'width':'100%'}"
                  class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-100"
                  required>
                </p-password>
              </div>

              <!-- <div class="form-outline mb-4 position-relative">
                <label class="form-label p-text-bold" for="password">Contraseña</label>
                <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password"
                  [type]="mostrarContrasenia ? 'text' : 'password'" autocomplete="password" aria-label="Contraseña"
                  title="Ingrese su contraseña" />

                <a (click)="mostrarContrasenia = !mostrarContrasenia" class="eye-icon" aria-label="Mostrar Contraseña"
                  href="javascript:void(0)">
                  <i class="pi pi-eye-slash" aria-label="Icono Contraseña oculta" title="ocultar / mostar"></i>
                </a>
              </div> -->

              <!-- Botón de enviar -->
              <button type="submit" class="btn btn-primary btn-block mb-4 w-100 p-text-bold" aria-label="Iniciar Sesión"
                [disabled]="formulario.invalid">
                Iniciar Sesión
              </button>
              <!-- Boton de redirección al registro -->
              <div class="row mb-4 text-wrap">
                <div class="col text-start text-sm-start">
                  <small class="d-flex align-items-center justify-content-center" style="white-space: normal;">
                    ¿Aún no tienes una cuenta?&nbsp;
                    <a routerLink="/auth/register" class="ms-2 btn-sm">Regístrate aquí</a>
                  </small>
                </div>
              </div>



              <!-- Botones de contácto -->
              <div class="text-center">

                <p class="p-text-bold text-decoration-underline">Contáctanos:</p>
                <button type="button" class="btn btn-link btn-floating mx-1 btn-social" aria-label="Facebook"
                  title="Página de Facebook Oficial" onclick="window.open('https://www.facebook.com/profile.php?id=100093239103227&mibextid=ZbWKwL', '_blank')">
                  <i class="bi bi-facebook" alt="Facebook"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1 btn-social" aria-label="Gmail" onclick="window.location.href='mailto:chmtechnology9@gmail.com'">
                  <i class="bi bi-google" alt="Gmail"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1 btn-social" aria-label="TikTok" onclick="window.open('https://www.tiktok.com/@hernanmejia356?_t=8jJcIXCZPN7&_r=1', '_blank')">
                  <i class="bi bi-tiktok" alt="Tiktok" title="Página de Tiktok Oficial"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #mensajeErrorEmail>
  <div *ngIf="formulario.controls['username'].errors && formulario.controls['username'].touched" class="text-danger">
    <small>*Campo obligatorio / Por favor, verifique su dirección de correo electrónico.</small>
  </div>
  <div *ngIf="formulario.controls['username'].errors?.['username'] && formulario.controls['username'].touched">
    Formato de correo electrónico no válido
  </div>
</ng-template>