<app-header></app-header>


<div class="container-fluid container-video">
  <div class="video-container">
    <video muted loop autoplay playsinline>
      <source src="/assets/chm2.mp4" type="video/mp4">
      Tu navegador no soporta el tag de video.
    </video>
  </div>
</div>

<br>


<!-- CARD CON DATOS CATEGORIA -->
<!-- <div *ngFor="let categoria of listadocategoria" class="d-flex" (click)="verMas(categoria)">
  <div class="card shadow rounded-3" style="width: 22rem; padding: 1rem;">
  
    <div class="card-body">
      <h5 class="card-title">{{ categoria.nombre }}</h5>
      <p class="card-text">{{ categoria.descripcion }}</p>
      <p class="card-text">{{ categoria.estado }}</p>
    
      <button type="button" class="btn btn-primary" (click)="verMas(categoria)">
        Ver Más
      </button>
    </div>
  </div>
</div> -->
<h1 class="text-center mb-5">CATALOGOS</h1>
<div class="d-flex align-items-center justify-content-center h-100">
  <div class="d-flex gap-4">
    <div class="card">
      <img src="/assets/productos.png" alt="Imagen de Producto" class="card-img-top w-100" style="height: 200px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Productos</h5>
        <a [routerLink]="['/productos']" class="btn btn-primary">Ir a Productos</a>
      </div>
    </div>

    <div class="card">
      <img src="/assets/servicios.jpeg" alt="Imagen de Servicio" class="card-img-top w-100" style="height: 200px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Servicios</h5>
        <a [routerLink]="['/servicios']" class="btn btn-primary">Ir a Servicios</a>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<!-- contacto-formulario.component.html -->
<!-- <div class="container mt-5 formulario-con-bordes-negros text-center">
  <h1 class="mb-4">Contacto</h1>

  <form (ngSubmit)="enviarMensaje()" #contactForm="ngForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" name="nombre" ngModel class="form-control border-black" required>
      </div>
      <div class="col-md-6">
        <label for="correo" class="form-label">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" ngModel class="form-control border-black" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="numero" class="form-label">Número de Teléfono:</label>
        <input type="tel" id="numero" name="numero" ngModel class="form-control border-black" required>
      </div>
      <div class="col-md-6">
        <label for="sugerencia" class="form-label">Sugerencia:</label>
        <textarea id="sugerencia" name="sugerencia" ngModel class="form-control border-black" rows="4" required></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Enviar por WhatsApp</button>
      </div>
    </div>
  </form>
</div> -->
<!-- app.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="enviarDatos()" #formulario="ngForm" class="p-4 rounded" style="background-color: #00406E; position: relative; height: 420px;">

        <!-- Título dentro del formulario -->
        <h2 class="text-center text-white mb-4">Formulario de Contacto</h2>

        <label for="nombre" class="text-white">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="datos.nombre" class="form-control" required>

        <label for="numero" class="text-white">Número:</label>
        <input type="tel" id="numero" name="numero" [(ngModel)]="datos.numero" class="form-control" required>

        <label for="correo" class="text-white">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="datos.correo" class="form-control" required>

        <label for="mensaje" class="text-white">Asunto:</label>
        <textarea id="mensaje" name="mensaje" [(ngModel)]="datos.mensaje" class="form-control" required></textarea>

        <button type="submit" class="btn btn-light mt-3">Enviar</button>
      </form>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15959.071166384721!2d-78.56137532611902!3d-0.2883571953408768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d598a43ac62447%3A0x44ee54b1710617eb!2sLas%20Cuadras%2C%20Quito!5e0!3m2!1ses!2sec!4v1705788464279!5m2!1ses!2sec"
        width="600" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>


<app-Whatsapp class="bg-danger" style="position: fixed; bottom: 70px; right: 10px;"></app-Whatsapp>


<app-footer></app-footer>
