img.w-100.h-100 {
    width: 100%!important;
    height: 50%;
    display: block;
    margin: auto;
  }
 

  ::ng-deep .p-button.custom-button {
    color: #ffffff; /* Color de texto personalizado */
    border-radius: 8px; /* Borde redondeado */
    background-color: #00406E;
    border: none;
    position: relative;
    border-color: #1b1a1a;
    min-width: 100%;
    max-width: 100%;
  }
  
  ::ng-deep .p-button.custom-button.active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
   
  }