<app-header></app-header>


<div class="contenedor-products container-fluid d-flex gap-3 position-relative">

  <aside class="aside-categorias h-100 p-shadow-9 position-sticky" style="top: 0;">
    <div *ngFor="let categoria of listadocategoria; trackBy:trackByIdCategoria;" class="bg-white p-3">
      <p-button [style]="{'width':'10rem'}" label="{{categoria.nombre}}" (onClick)="filtrarPorCategoria(categoria.id)"
        styleClass="custom-button p-button-text p-mb-2">
      </p-button>
    </div>
  </aside>

  <!-- Lista de Productos filtrados por categoría en el cuerpo principal -->
  <div class="d-flex flex-wrap justify-content-center gap-4 overflow-y-scroll">
    <div *ngFor="let producto of listadoproductosFiltrados; trackBy: trackProductoBy" class="d-flex"
      (click)="openModal(producto)">
      <div class="card shadow rounded-3" style="height: 20rem; width: 16rem; padding: .8rem;">
        <div class="w-100 h-100 rounded-2"
          style="object-fit: contain; object-position: center center; overflow: hidden;">
          <img class="w-100 h-100"
            [src]="producto.imagenes && producto.imagenes.length > 0 ? producto.imagenes[0].publicUrl : ''"
            alt="Imagen del producto" width="100" height="auto" loading="lazy">
        </div>
        <hr>
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">{{ producto.precio | currency:'USD' }}</p>
        </div>
        <button type="button" class="btn btn-primary w-100" [attr.data-bs-target]="'#productosModal' + producto.id">
          Ver Detalles
        </button>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{ selectedProduct?.nombre }}" [(visible)]="displayModal" [modal]="true" [style]="{ width: '30rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div class="card p-4 shadow" style="border:none;">
    <div class="container-img-modal overflow-hidden" style="overflow: hidden; width: 100%; height: 200px;">
      <img [src]="selectedProduct?.imagenes?.[0]?.publicUrl || ''" alt="{{ selectedProduct?.descripcion }}"
        class="card-img-top" style="object-fit: contain; object-position: center center; width: 100%; height: 100%;">
    </div>
    <p>{{ selectedProduct?.descripcion }}</p>
    <p>Valor: {{ selectedProduct?.precio | currency:'USD' }}</p>
    <button *ngIf="selectedProduct" (click)="agregarAlCarrito(selectedProduct)" class="btn btn-primary">Agregar al
      Carrito</button>
  </div>
</p-dialog>

<app-footer></app-footer>
